
  .nav {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
	width: 100%;
    min-width: 715px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(159, 162, 177, 0.8);
  }
  
  .nav>.nav-item {
    color: #83818c;
    padding: 10px 3px;
    text-decoration: none;
    transition: .3s;
    margin: 0 3px;
    z-index: 1;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    position: relative;
  }
  .nav>.nav-item::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: .3s;
  }
  
  .nav>.nav-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
  }
  
  .nav-item:not(.is-active):hover {
    color: #333;
  }
  
  .nav>.nav-indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    transition: .4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
  }
  
  /* @media (max-width: 580px) {
    .nav {
      overflow: auto;
    }
  }
   */
  